:root {
    --bkgrnd-clr: #688cac;
}

body {
    display: flex;
    min-height: 100vh;
}

.leftSide {
    width: 35%;
    position: relative;
    overflow: hidden;
}

.mainPhoto {
    height: 100vh;
    aspect-ratio: auto;
    flex-shrink: 0;
    object-fit: none;
}

.photo-words {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    color: white;
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.logo {
    flex-shrink: 0;
    height: 8rem;
    margin-right: 10px;
}

.photo-credit {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 0.8rem;
    color: white;
}

a:visited {
    color: white;
}

.rightSide {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#header {
    background-color: var(--bkgrnd-clr);
    height: 35%;
}

.welcome-message {
    font-size: 1.2rem;
    text-align: left;
    margin-top: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.encouragement-message {
    font-size: 1rem;
    text-align: left;
    margin-top: 2em;
    padding-left: 3rem;
    padding-right: 3rem;
}

#sign-up {
    display: flex;
    position: relative;
    width: 100%;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: rgba(54, 63, 54, 0.172);
}

.form-title {
    position: absolute;
    top: 1rem;
    left: 3rem;
    text-align: left;
    margin-bottom: 20px;
}

.row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: clamp(400px, 50vw, 600px)
}

.row > div {
    display: flex;
    flex-direction: column;
}

#footer{
    background-color: var(--bkgrnd-clr);
    width: 100%;
    padding: 10px;
    height: 25%;
    margin-bottom: 0;
    position: relative;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    position: absolute;
    top: 2rem;
    left: 5rem;
    background-color: #327898;
    border-radius: 10px;
}

button:hover {
    background-color: #3f98c1;
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.5)
}

.login-link {
    position: absolute;
    top: 6rem;
    left: 3rem;
    font-size: 1rem;
}

.credit-link{
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 0.8rem;
}

input:focus,
textarea:focus {
  background: rgb(0 0 0 / 10%);
  border-radius: 5px;
}